.chat {
    display: flex;
    height: 500px;
    border: 1px solid rgba(159, 183, 197, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.chatUsers {
    border-right: 1px solid rgba(159, 183, 197, 0.1);
    padding: 20px;
    width: 200px;
    background-color: #f6f9fa;
}

.chatMessages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 30px;
}

.messages {
    flex: 1;
    height: calc(100% - 155px);
    overflow: auto;
}

.message {
    margin-bottom: 20px;
}

.message p {
    display: inline-flex;
    border-radius: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #7160ff;
    padding: 10px 15px 15px;
    color: #fff;
    margin-bottom: 2px;
}

.message span {
    opacity: 0.5;
    font-size: 14px;
}

.anotherMessage {
    margin-bottom: 20px;
}

.anotherMessage p {
    display: inline-flex;
    margin-left: 60px;
    border-radius: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: green;
    padding: 10px 15px 15px;
    color: #fff;
    margin-bottom: 2px;
}

.anotherMessage span {
    opacity: 0.5;
    font-size: 14px;
}

.chatUsers ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chatUsers ul li {
    margin-top: 10px;
    border-radius: 3px;
    background-color: #fff;
    padding: 8px 14px;
    box-shadow: 0 3px 5px rgba(159, 183, 197, 0.1);
    font-weight: 500;
}

.chatMessages form {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.chatMessages form textarea {
    width: 100%;
    margin-bottom: 10px;
}