.container {
    border: 1px solid transparent;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: coral;

}

.btn {
    height: 30px;
    width: 100%;
    background-color: mediumseagreen;
    border: 1px solid green;
    border-radius: 5px;
    margin: 0 auto;
}

.btn:hover {
    background-color: cadetblue;
    cursor: pointer;
}

.input {
    height: 20px;
}

